*.py[cod]

# C extensions
*.so

# SQLAlchemy databases
*.db

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Uploads
*.(txt|TXT)
*.(png|PNG)
*.(gif|GIF)
*.(jpg|JPG)
*.(jpeg|JPEG)

# Other
.DS_Store
