<!--svblog - entries.html
	Author: James Gray
	June 2013

	This will display all of a user's blog posts
	and uploaded files in an unordered list.-->

{% extends "index.html" %}
{% block body %}
	{% if session.logged_in and session['logged_in'] == username %}
		{% if session.posting_enabled and session['posting_enabled'] == True %}
		<form class="{{ theme }} entries" action="{{ url_for('entries', name=username) }}" method="post" class="add-entry">
			<dl>
				<dt>Title:
				<dd><input type="text" size=30 name="title">
				<dt>Text:
				<dd><textarea name="text" rows=5 cols=40></textarea>
				<dd><input type="submit" value="Share">
			</dl>
		</form>
		{% endif %}
	{% endif %}

	<ul class="{{ theme }} entries">
	{% for e in entries %}
		{% if e.userid == username %}
			<li><h2 class="{{ theme }}">{{ e.title }}</h2>{{ e.text|safe }}
            {% if session['logged_in'] == username %}
                <a class="del" href="{{ url_for('delete_file', name=session['logged_in'],
                filename=f.filename) }}">delete</a>
            {% endif %}
		{% endif %}
	{% endfor %}
	</ul>
	<ul class="entries">
	<h2 class="{{ theme }}">{{ username }}'s files</h2>
	{% for f in uploads %}
		{% if f.userid == username %}
            {% if f.filetype == 'html' %}
                <li><a class="{{ theme }}" href="{{ url_for('uploaded_file', name=f.userid,
    			filename=f.filename) }}">{{ f.filename }}</a>
            {% else %}
			    <li><img src=
				    "{{ url_for('uploaded_file', name=f.userid,
				    filename=f.filename) }}">
            {% endif %}
            {% if session['logged_in'] == username %}
                <a class="del" href="{{ url_for('delete_file', name=session['logged_in'],
                filename=f.filename) }}">delete</a>
            {% endif %}
		{% endif %}
	{% endfor %}
	</ul>
{% endblock %}