<!--svblog - entries.html
    Author: Brian Chen (Attribution James Gray 2013)
	June 2015

	This will display all of a user's blog posts
	and uploaded files in an unordered list.-->

{% extends "index.html" %}
{% block body %}
    {% if session.logged_in and session['logged_in'] == username %}
        {% if session.posting_enabled and session['posting_enabled'] == True %}
            <form class="{{ theme }} entries add-entry" action="{{ url_for('entries', name=username) }}" method="post">
                <div id="post-body">
                    <div id="post-title">
                        <label class="input-label" for="post-title-input">Title</label>
                        <input type="text" size=30 name="title" class="editor-input" id="post-title-input">
                    </div>
                    {#                <div>
                    <label for="post-text">Text:</label>
                    <textarea name="text" id="post-text" rows=5 cols=40></textarea>
                </div>#}

                    <div id="post-text">
                        <div class="toolbar" id="post-text-toolbar">

                            <div class="ql-format-group">
                                <span class="ql-format-button ql-bold"></span>
                                <span class="ql-format-button ql-italic"></span>
                            </div>
                        </div>
                        <div class="editor" id="post-text-editor"></div>
                    </div>

                    <input type="submit" value="Share">
                </div>
            </form>
        {% endif %}
    {% endif %}

    <ul class="{{ theme }} entries">
        {% for e in entries %}
            {% if e.userid == username %}
                <li>
                    <h2 class="{{ theme }}">{{ e.title }}</h2>{{ e.text|safe }}
                    {% if session['logged_in'] == username %}
                        <a class="{{ theme }} del"
                           href="{{ url_for('delete_entry', name=session['logged_in'], id=e.id) }}">delete</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="entries">
        <h2 class="{{ theme }}">{{ username }}'s files</h2>
        {% for f in uploads %}
            {% if f.userid == username %}
                {% if f.filetype in ['html', 'css'] %}
                    <li><a class="{{ theme }}" href="{{ url_for('uploaded_file', name=f.userid,
    			filename=f.filename) }}">{{ f.filename }}</a>
                        {% else %}
                    <li><img src=
                                     "{{ url_for('uploaded_file', name=f.userid,
				    filename=f.filename) }}">
                {% endif %}
                {% if session['logged_in'] == username %}
                    <a class="{{ theme }} del" href="{{ url_for('delete_file', name=session['logged_in'],
                filename=f.filename) }}">delete</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>

    <script src="{{ url_for('static', filename="js/libs/quill.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/libs/zepto.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/app-compiled.js") }}"></script>
{% endblock %}